<launch>
  <arg name="machine" default="localhost" />
  <arg name="user" default="" />
  <arg name="lightEBC" default="" />
  <arg name="positionUpdate" default="true" />

  <!-- now has an IF checking for the arg "remote" -->
  <machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="true" />

  <param name="configFile" value="$(env HOME)/.charging.yaml" />
  <param name="lightEBC" value="$(arg lightEBC)" />
  <param name="positionUpdate" value="$(arg positionUpdate)" type="bool"/>
  <param name="positionUpdate" value="true" />
  <param name="dockPositionX" value="0.0" />
  <param name="dockPositionY" value="0.0" />
  <param name="dockPositionPhi" value="3.14" />
  <param name="dock_1_PositionX" value="10.0" />
  <param name="dock_1_PositionY" value="10.0" />
  <param name="dock_1_PositionPhi" value="3.14" />
	<node pkg="scitos_docking" type="visual_charging" name="visual_charging" output="screen" >
  </node>
</launch> 
