<launch>
  <arg name="machine" default="localhost" />
  <arg name="user" default="" />
  <arg name="lightEBC" default="" />

  <!-- now has an IF checking for the arg "remote" -->
  <machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="true" />

  <param name="configFile" value="$(env HOME)/.charging.yaml" />
  <param name="lightEBC" value="$(arg lightEBC)" />
	<node pkg="scitos_docking" type="visual_charging" name="visual_charging" output="screen" >
  </node>
</launch> 
