<launch>
	<arg name="machine" default="localhost" />
    <arg name="user" default="strands" />

    <machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="true" />

	<node pkg="nodelet" type="nodelet" name="cmd_vel_nodelet_manager" args="manager"/>

	<node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet cmd_vel_nodelet_manager">
		<param name="yaml_cfg_file" value="$(find scitos_cmd_vel_mux)/param/mux.yaml"/>
	</node>

</launch>
