<launch>

  <!-- Include cmd_vel_mux to allow arbitration -->
  <include file="$(find scitos_cmd_vel_mux)/launch/mux.launch"/>
  
  <!-- Core rumblepad control -->
  <include file="$(find scitos_teleop)/launch/teleop_joystick_core.launch"/>

  <!-- Base teleop --> 
  <node pkg="scitos_teleop" type="teleop_base" name="teleop_base" output="screen">
		<param name="scale_angular" value=".7" type="double"/>
		<param name="scale_linear" value=".7" type="double"/>
		<remap from="/cmd_vel" to="/cmd_vel_mux/input/joystick"/>
  </node>

  <!-- Head teleop -->
  <node pkg="scitos_teleop" type="head_teleop.py" name="teleop_head" />
</launch> 
